$primary-color: rgb(29, 161, 242);
$primary-link-hover: rgba(29, 161, 242, 0.1);
$primary-btn-hover: rgb(26, 145, 218);
$primary-btn-disabled: rgb(148, 209, 247);

// Features div background in Root
$primary-background: rgb(122, 204, 254);

// Dark Mode background
$secondary-color: rgb(21, 32, 43);
$secondary-hover: rgb(25, 39, 52);

$side-box: rgb(247, 249, 250);

// Articles, Threads, Side boxs
$box-hover: rgba(0, 0, 0, 0.03);

$search-box: rgb(235, 238, 240);

$footer-color-light: rgb(91, 112, 131);
$footer-color-dark: rgb(136, 153, 166);

$text-color: rgb(15, 20, 15);

$retweet-border: rgb(196, 207, 214);
