.c-li-form {
  display: flex;
  justify-content: center;
  margin-right: 15px;
  margin-left: 15px;
  flex-shrink: 1;
}

.c-li-input {
  max-width: 225px !important;
  width: 100% !important;
  height: 55px !important;
  padding-right: 15px !important;
  margin-bottom: 4px !important;
}

.div-pass {
  max-width: 225px !important;
  width: 100% !important;
}

.c-li-forgot {
  margin-left: 12px !important;
}

.c-li-btn {
  width: 75px;
  height: 39px;
  align-self: center;
  margin-bottom: 5px !important;
  font-size: 14px !important;
}
