.user-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 270px;
  font-size: 15px !important;
  font-weight: 400;
}

.ucard-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .btn-fill {
    transition: 0.2s background-color, 0.2s border-color !important;

    &::after {
      content: 'Following';
    }

    &:hover {
      background-color: #e0245e !important;
      border-color: #e0245e !important;

      &::after {
        content: 'Unfollow';
      }
    }
  }
}

.ucardh-folbtn {
  padding: 5px 10px !important;
  letter-spacing: 0px !important;
}

.ucard-name {
  color: $footer-color-light !important;
  display: flex;
  flex-direction: column;
  margin-top: 7px;

  .tcchi-fullname {
    height: 19px;
    letter-spacing: 0.4px;
  }

  .tcchi-username {
    margin-left: 0 !important;
    height: 19px;
  }

  &:hover {
    text-decoration: none !important;

    .tcchi-fullname {
      text-decoration: underline !important;
    }
  }
}

.ucard-conn {
  display: flex;

  a {
    color: $footer-color-light !important;
  }
}

.ucardc-count {
  color: $text-color !important;
  font-weight: 600;
  letter-spacing: 0.8px;
}
